@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #6ab7f5, #fff);
    text-align: center;
    min-height: 100vh;
}

/*----------------- Header -----------------*/

nav {
    width: 100%;
    padding: 1%;
    background: #6ab7f58a;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}
#div_logo{
    padding-left: 4%;
}
#div_menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#div_menu a {
    text-decoration: none;
    color: #3363b2;
    font-size: 1.2em;
    font-weight: bolder;
}
#div_menu a:hover{
    color: #feca04;
    text-shadow: 2px 2px 8px #3363b2;
}

/*----------------- Estilo Geral Sections -----------------*/

h2 {
    font-size: 2.7em;
    color: #3363b2;
    text-align: center;
    margin-bottom: 3%;
}
p {
    font-size: 1.1em;
    color: #3363b2;
    text-align: center;
    line-height: 30px;
}
.textos_sections {
    text-align: center;
}


.botao {
    display: inline-block;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1.5vh 3.5vh;
    background-color: #3363b28a;
    border-radius: 5px;
    text-decoration: none;
    color: #feca04;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.4s;
}
.botao:hover {
    background-color: #feca04;
    color: #3363b2;
    box-shadow: 2px 2px 8px #3363b2;;
}

/*----------------- Sections -----------------*/

#primeira_section {
    padding: 8%;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#img_home_1 {
    max-width: 350px;
    margin-top: 10%;
}

#segunda_section {
    padding: 0 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#img_home_2 {
    max-width: 400px;
}

#terceira_section {
    padding: 0 8%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#img_home_3 {
    max-width: 400px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    nav a {
        font-size: 0.6em;
    }
    .logo_div {
        width: 10px;
    }
    #img_home_1, #img_home_2, #img_home_3  {
        width: 100px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    nav a {
        font-size: 1em;
    }
    #img_home_1, #img_home_2, #img_home_3  {
        width: 100px;
    }
    .logo_div a img{
        width: 1px;
    }
}